<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>高校侦探</title>
  <link rel="stylesheet" href="/static/css/material.min.css">
  <link rel="stylesheet" href="/static/css/project.css">
  {% block style %}
  {% endblock %}
  <script src="/static/js/jquery.min.js" charset="utf-8"></script>
  <script src="/static/js/thther.min.js" charset="utf-8"></script>
  <script src="/static/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="/static/js/echarts.min.js" charset="utf-8"></script>
  <!-- <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script> -->
  <script src="/static/js/material.min.js" charset="utf-8"></script>
  <!-- <script src="https://cdn.bootcss.com/echarts/3.5.3/echarts.min.js"></script> -->
</head>
<body>
  <section class="outer_container">
    <!-- topbar -->
    {% include "./top.html" %}
    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="modal" style="display: none;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header text-primary">
          <p>提示:</p>
        </div>
        <h5 class="modal-body">
          请 按 规 范 填 写 选 项
        </h5>
      </div>
    </div>
  </div>
    <!-- content -->
    <section class="content">
      {% block page %}
      {% endblock %}
    </section>

    <!-- footer -->
    {% include "./footer.html" %}
  </section>
{% block script %}
{% endblock %}
</body>
</html>
