<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>高校侦探</title>
  <!-- <link href="http://daemonite.github.io/material/css/material.min.css" rel="stylesheet"> -->
  <link href="/static/css/material.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/project.css">
  {% block style %}
  {% endblock %}
  <!-- <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/echarts/3.5.3/echarts.min.js"></script> -->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/tether.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/echarts.min.js"></script>
</head>
<body style="position:relative;" data-spy="scroll" data-target="#detailNav">
  {% include "./top.html" %}
  <section class="outer_container">
    <!-- modal -->
    {% include "./alertModal.html" %}
    <!-- content -->
    <section class="content">
      {% block page %}
      {% endblock %}
    </section>

    <!-- footer -->
  </section>
  {% include "./footer.html" %}
{% block script %}
{% endblock %}
</body>
</html>
