<div class="btn-group">
  <span class="badge badge-primary">院校地区 </span>
  <select class="custom-select" id="city">
    <option selected value="0">所有地区</option>
    <option value="1">北京市</option>
    <option value="2">天津市</option>
    <option value="3">河北省</option>
    <option value="4">山西省</option>
    <option value="5">内蒙古自治区</option>
    <option value="6">辽宁省</option>
    <option value="7">吉林省</option>
    <option value="8">黑龙江省</option>
    <option value="9">上海市</option>
    <option value="10">江苏省</option>
    <option value="11">浙江省</option>
    <option value="12">安徽省</option>
    <option value="13">福建省</option>
    <option value="14">江西省</option>
    <option value="15">山东省</option>
    <option value="16">河南省</option>
    <option value="17">湖北省</option>
    <option value="18">湖南省</option>
    <option value="19">广东省</option>
    <option value="20">广西壮族自治区</option>
    <option value="21">海南省</option>
    <option value="22">重庆市</option>
    <option value="23">四川省</option>
    <option value="24">贵州省</option>
    <option value="25">云南省</option>
    <option value="26">西藏自治区</option>
    <option value="27">陕西省</option>
    <option value="28">甘肃省</option>
    <option value="29">青海省</option>
    <option value="30">宁夏回族自治区</option>
    <option value="31">新疆维吾尔自治区</option>
  </select>
  <span class="badge badge-primary">所属工程 </span>
  <label class="custom-control custom-checkbox">
    <input type="checkbox" id="nef" class="custom-control-input">
    <span class="custom-control-indicator" style="z-index:10"></span>
    <span class="custom-control-description">985</span>
  </label>
  <label class="custom-control custom-checkbox">
    <input type="checkbox" id="too" class="custom-control-input">
    <span class="custom-control-indicator" style="z-index:10"></span>
    <span class="custom-control-description">211</span>
  </label>
</div>
<div class="btn-group">
  <span class="badge badge-primary">符合年数 </span>

  <label class="custom-control custom-radio">
  <input id="hit0" name="radio" type="radio" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">仅 {{query.year}} 年</span>
  </label>
  <label class="custom-control custom-radio">
  <input id="hit1" name="radio" type="radio" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">1 年符合</span>
  </label>

  <label class="custom-control custom-radio">
    <input id="hit2" name="radio" type="radio" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">2 年符合</span>
  </label>

  <label class="custom-control custom-radio">
    <input id="hit3" name="radio" type="radio" class="custom-control-input">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">3 年符合</span>
  </label>
</div>
<script>
'use strict';
//如果选择查院校-线差-平均分，则消除3年符合选项
if (window.location.pathname == '/college/difference' && $(`form[action='/college/difference']`).find(`select[name='scoreType']`)[0].selectedIndex == 2) {
  $('.custom-radio:nth-child(5)').css('display', 'none')
};
//自动选择命中所选年
$('.custom-control.custom-radio:first').trigger('click');
// 处理大学所在城市//工程的选择
  $('#city').change(filter);
  $('#nef').change(filter);
  $('#too').change(filter);
  let hit = 0;
  $('#hit0').change(0, filter)
  $('#hit1').change(1, filter);
  $('#hit2').change(2, filter);
  $('#hit3').change(3, filter);

  function filter(e) {
    if ($(this).attr('id').indexOf('hit') == 0) {
      hit = e.data;
    }
    $.ajax({
      type: 'GET',
      url: window.location.pathname,
      dataType: 'json',
      data: {
        city: $('#city option:selected').text(),
        is985: $('#nef').is(':checked'),
        is211: $('#too').is(':checked'),
        hit: hit,
        year: '{{query.year}}',
        pos: '{{query.pos}}',
        category: '{{query.category}}',
        batch: '{{query.batch}}',
        score: parseInt('{{query.score}}'),
        eq: '{{query.eq}}',
        rank: '{{query.rank}}',
        range: parseInt('{{query.range}}'),
        scoreType: '{{query.scoreType}}',
        major: {%if query.major %}'{{query.major}}'{%else%}null{%endif%}
      }
    }).done(function(data) {
      //分页选中第一页
      $('.pagination li').removeClass('active');
      $('.pagination li:first').addClass('active');
      //刷新表格
      freshTable(data);
    });
  }

  //刷新表格
  function freshTable(data) {
    let thead = '',
        tbody = '';
    //header
    let items= data.data.schools || data.data.majors;
    items.forEach((school, index)=> {
      let site = ``;
      //处理省控线是数组(位次查询)时的line值
      let line = data.data.line;
      if (line instanceof Array) {
        if (school.batch === '本科第一批') line = line[0].line;
        else line = line[1].line;
      }

      if (school.site) {
        site += `<a href="${school.site}" target="_blank">进入</a>`
      }

      switch (window.location.pathname) {
        case '/college/difference':
          $('.resultCount').html(`使用 <b style="color:#9c27b0">院校-线差</b> 查询方式，共匹配到 <b style="color:#9c27b0">${data.data.count}</b> 条结果</span>`);
          thead = `<tr><th style="text-align:left;padding-left:20px;padding-right:0;">高校名称</th> <th>地区</th><th>录取批次</th><th>调档线</th><th>平均分</th><th>调档线差</th><th>平均线差</th><th>院校招生网</th></tr>`;
          tbody += `<tr>
            <th scope='row' class='name' style='text-align:left;padding-left:20px;padding-right:0;'>
              <span style='font-size:1.2em;'>
                <a class="key" href="/college/${school.id}" target='_blank'>${school.school_name}</a>
                <span style="color:#9c27b0;font-size:0.8em;">
                  ${school.project}
                </span>
              </span>
            </th>
            <td>${school.location}</td>
            <td>
              ${school.batch}
            </td>
            <td>${school.minScore || '-'}</td>
            <td>${school.avgScore || '-'}</td>
            <td>
              ${school.minScore - line || '-'}
            </td>
            <td>
              ${school.avgScore ? school.avgScore - line : '-'}
            </td>
            <td>
              ${site}
            </td>
          </tr>`;
          break;
        case '/college/equipotential':
          $('.resultCount').html(`使用 <b style="color:#9c27b0">院校-等位分</b> 查询方式，共匹配到 <b style="color:#9c27b0">${data.data.count}</b> 条结果</span>`);
          thead = `<tr><th  style="text-align:left;padding-left:20px;padding-right:0;">高校名称</th> <th>地区</th><th>录取批次</th><th>调档线</th><th>平均分</th><th>等位分</th><th>院校招生网</th></tr>`;
          tbody += `<tr>
            <th scope='row' class='name' style='text-align:left;padding-left:20px;padding-right:0;'>
              <span style='font-size:1.2em;'>
                <a class="key" href="/college/${school.id}" target='_blank'>${school.school_name}</a>
                <span style="color:#9c27b0;font-size:0.8em;">
                  ${school.project}
                </span>
              </span>
            </th>
            <td>${school.location}</td>
            <td>
              ${school.batch}
            </td>
            <td>${school.minScore || '-'}</td>
            <td>${school.avgScore || '-'}</td>
            <td>
              ${school.equipotential || '-'}
            </td>
            <td>
              ${site}
            </td>
          </tr>`;
          break;
        case '/college/rank':
          $('.resultCount').html(`使用 <b style="color:#9c27b0">院校-位次</b> 查询方式，共匹配到 <b style="color:#9c27b0">${data.data.count}</b> 条结果</span>`);
          thead = `<tr><th  style="text-align:left;padding-left:20px;padding-right:0;">高校名称</th> <th>地区</th><th>录取批次</th><th>调档线</th><th>平均分</th><th>调档位次</th><th>院校招生网</th></tr>`;
          tbody += `<tr>
            <th scope='row' class='name' style='text-align:left;padding-left:20px;padding-right:0;'>
              <span style='font-size:1.2em;'>
                <a class="key" href="/college/${school.id}" target='_blank'>${school.school_name}</a>
                <span style="color:#9c27b0;font-size:0.8em;">
                  ${school.project}
                </span>
              </span>
            </th>
            <td>${school.location}</td>
            <td>
              ${school.batch}
            </td>
            <td>${school.minScore || '-'}</td>
            <td>${school.avgScore || '-'}</td>
            <td>
              ${school.rank || '-'}
            </td>
            <td>
              ${site}
            </td>
          </tr>`;
          break;
        case '/major/difference':
          $('.resultCount').html(`使用 <b style="color:#9c27b0">专业-线差</b> 查询方式，共匹配到 <b style="color:#9c27b0">${data.data.count}</b> 条结果</span>`);
          thead = `<tr><th  style="text-align:left;padding-left:20px;padding-right:0;">高校名称</th> <th>地区</th><th>专业名称</th><th>录取批次</th><th>专业最低分</th><th>专业平均分</th><th>专业最高分</th><th>院校招生网</th></tr>`;
          tbody += `<tr>
            <th scope='row' class='name' style='text-align:left;padding-left:20px;padding-right:0;'>
              <span style='font-size:1.2em;'>
                <a class="key" href="/college/${school.id}" target='_blank'>${school.school_name}</a>
                <span style="color:#9c27b0;font-size:0.8em;">
                  ${school.project}
                </span>
              </span>
            </th>
            <td>${school.location}</td>
            <td>
              ${school.major_name}
            </td>
            <td>
              ${school.batch}
            </td>
            <td>${school.minScore || '-'}</td>
            <td>${school.avgScore || '-'}</td>
            <td>${school.maxScore || '-'}</td>
            <td>
              ${site}
            </td>
          </tr>`;
          break;
        case '/major/rank':
          $('.resultCount').html(`使用 <b style="color:#9c27b0">专业-位次</b> 查询方式，共匹配到 <b style="color:#9c27b0">${data.data.count}</b> 条结果</span>`);
          thead = `<tr><th style="text-align:left;padding-left:20px;padding-right:0;">高校名称</th> <th>地区</th><th>专业名称</th><th>录取批次</th><th>专业最低分</th><th>专业平均分</th><th>专业最高分</th><th>最低分位次</th><th>院校招生网</th></tr>`;
          tbody += `<tr>
            <th scope='row' class='name' style='text-align:left;padding-left:20px;padding-right:0;'>
              <span style='font-size:1.2em;'>
                <a class="key" href="/college/${school.id}" target='_blank'>${school.school_name}</a>
                <span style="color:#9c27b0;font-size:0.8em;">
                  ${school.project}
                </span>
              </span>
            </th>
            <td>${school.location}</td>
            <td>
              ${school.major_name}
            </td>
            <td>
              ${school.batch}
            </td>
            <td>${school.minScore || '-'}</td>
            <td>${school.avgScore || '-'}</td>
            <td>${school.maxScore || '-'}</td>
            <td>${school.rank || '-'}</td>
            <td>
              ${site}
            </td>
          </tr>`;
          break;
        default: break;
      }
  });
  //每次ajax请求，如果有结果，加入表头，删除提示，后面再插入提示
  $('.table thead').html(thead);
  $('.no-result').remove();
  $('.pagination').css('display', 'flex');
  //结果为0条，不执行forEach，则先删除提示，
  if (items.length == 0) {
    $('.resultCount').html(`使用 <b style="color:#9c27b0">院校-线差</b> 查询方式，共匹配到 <b style="color:#9c27b0">0</b> 条结果</span>`);
    $('.pagination').css('display', 'none');
    $('.table thead').html('');
    let alert = `{%include './noResult.html' %}`;
    $('.table').append(alert);
  }
  $('.table tbody').html(tbody);

  //处理页码
  //首先删除所有的li
  let lists = $('.pagination li');
  lists.remove();

  let totalPages = data.data.totalPages,
      page = parseInt(data.data.page);
  //添加li
  //总页数小于等于9 则一次性全部显示
  //否则
  $('ul.pagination').append(`<li class='page-item'><span style="position:relative;top:2px;right:10px" class="badge badge-default text-primary">共${totalPages}页</span></li>`);
  if (totalPages <= 9) {
    for (let i = 1; i <= totalPages; i++) {
      let li = null;
      if (i == page) {
        li = $(`<li class='page-item active'><a class='page-link'>${i}</a></li>`);
      } else {
        li = $(`<li class='page-item'><a class='page-link'>${i}</a></li>`);
      }
      bindClick(i, li, data);
      $('ul.pagination').append(li);
    }
  } else {
    if (page <= 4) {
      for (let i = 1; i <= 9; i++) {
        let li = null;
        if (i == page) {
          li = $(`<li class='page-item active'><a class='page-link'>${i}</a></li>`);
        } else {
          li = $(`<li class='page-item'><a class='page-link'>${i}</a></li>`);
        }
        bindClick(i, li, data);
        $('ul.pagination').append(li);
      }
    } else if (page >= totalPages - 3) {
      for (let i = totalPages - 8; i <= totalPages; i++) {
        let li = null;
        if (i == page) {
          li = $(`<li class='page-item active'><a class='page-link'>${i}</a></li>`);
        } else {
          li = $(`<li class='page-item'><a class='page-link'>${i}</a></li>`);
        }
        bindClick(i, li, data);
        $('ul.pagination').append(li);
      }
    } else {
      for (let i = page-4; i <= page+4; i++) {
        let li = null;
        if (i == page) {
          li = $(`<li class='page-item active'><a class='page-link'>${i}</a></li>`);
        } else {
          li = $(`<li class='page-item'><a class='page-link'>${i}</a></li>`);
        }
        bindClick(i, li, data);
        $('ul.pagination').append(li);
      }
    }
  }
}

function bindClick(page, li, data) {
  //每一条新的li绑定点击事件
  li.on('click', function(){
    lists.removeClass('active');
    $(this).addClass('active');
    //ajax请求数据
    $.ajax({
      type: 'GET',
      url: window.location.pathname,
      dataType: 'json',
      data: {
        city: $('#city option:selected').text(),
        is985: $('#nef').is(':checked'),
        is211: $('#too').is(':checked'),
        year: '{{query.year}}',
        pos: '{{query.pos}}',
        category: '{{query.category}}',
        batch: '{{query.batch}}',
        score: parseInt('{{query.score}}'),
        eq: '{{query.eq}}',
        hit: data.data.query.hit,
        rank: '{{query.rank}}',
        range: parseInt('{{query.range}}'),
        scoreType: '{{query.scoreType}}',
        major: {%if query.major %}'{{query.major}}'{%else%}null{%endif%},
        page: page
      }
    }).done(function(data){
      freshTable(data);
    });
  });
}
</script>
