<div class="btn-group">
  <span class="badge badge-primary">院校地区 </span>
  <select class="custom-select" id="city">
    <option selected value="0">所有地区</option>
    <option value="1">北京市</option>
    <option value="2">天津市</option>
    <option value="3">河北省</option>
    <option value="4">山西省</option>
    <option value="5">内蒙古自治区</option>
    <option value="6">辽宁省</option>
    <option value="7">吉林省</option>
    <option value="8">黑龙江省</option>
    <option value="9">上海市</option>
    <option value="10">江苏省</option>
    <option value="11">浙江省</option>
    <option value="12">安徽省</option>
    <option value="13">福建省</option>
    <option value="14">江西省</option>
    <option value="15">山东省</option>
    <option value="16">河南省</option>
    <option value="17">湖北省</option>
    <option value="18">湖南省</option>
    <option value="19">广东省</option>
    <option value="20">广西壮族自治区</option>
    <option value="21">海南省</option>
    <option value="22">重庆市</option>
    <option value="23">四川省</option>
    <option value="24">贵州省</option>
    <option value="25">云南省</option>
    <option value="26">西藏自治区</option>
    <option value="27">陕西省</option>
    <option value="28">甘肃省</option>
    <option value="29">青海省</option>
    <option value="30">宁夏回族自治区</option>
    <option value="31">新疆维吾尔自治区</option>
  </select>
  <span class="badge badge-primary">所属工程 </span>
  <label class="custom-control custom-checkbox">
    <input type="checkbox" id="nef" class="custom-control-input">
    <span class="custom-control-indicator" style="z-index:10"></span>
    <span class="custom-control-description">985</span>
  </label>
  <label class="custom-control custom-checkbox">
    <input type="checkbox" id="too" class="custom-control-input">
    <span class="custom-control-indicator" style="z-index:10"></span>
    <span class="custom-control-description">211</span>
  </label>
</div>
<script>
// 处理大学所在城市的选择
  $('#city').change(filter);
  $('#nef').change(filter);
  $('#too').change(filter);
  function filter() {
    $.ajax({
      type: 'GET',
      url: window.location.pathname,
      dataType: 'json',
      data: {
        city: $('#city option:selected').text(),
        is985: $('#nef').is(':checked'),
        is211: $('#too').is(':checked'),

        year: '{{query.year}}',
        pos: '{{query.pos}}',
        category: '{{query.category}}',
        batch: '{{query.batch}}',
        score: parseInt('{{query.score}}'),
        eq: '{{query.eq}}',
        rank: '{{query.rank}}',
        range: parseInt('{{query.range}}'),
        scoreType: '{{query.scoreType}}',
        major: {%if query.major %}'{{query.major}}'{%else%}null{%endif%}
      }
    }).done(function(data) {
      //分页选中第一页
      $('.pagination li').removeClass('active');
      $('.pagination li:first').addClass('active');
      console.log(data);
      //更新结果总数提示
      $('.resultCount').html(`共匹配到 ${data.data.count} 条结果:`);

      //刷新表格
      freshTable(data);


      //处理页码。有更多的页数，则添加页码;页码多余则去掉
      let lists = $('.pagination li');
      let pageCount = data.data.totalPages;
      lists.each(function() {
        $(this).css('display', 'block');
      })
      lists.slice(pageCount).each(function() {
        $(this).css('display', 'none');
      })

    });
  }

  //刷新表格
  function freshTable(data) {
    let thead = '',
        tbody = '';
    //header
    let items= data.data.schools || data.data.majors;
    items.forEach((school, index)=> {
      let site = ``;
      //处理省控线是数组(位次查询)时的line值
      let line = data.data.line;
      if (line instanceof Array) {
        if (school.batch === '本科第一批') line = line[0].line;
        else line = line[1].line;
      }

      if (school.site) {
        site += `<a href="${school.site}" target="_blank">进入</a>`
      }

      switch (window.location.pathname) {
        case '/college/difference':
          thead = `<tr><th  style="text-align:left;padding-left:20px;padding-right:0;">高校名称</th> <th>所在地</th><th>录取批次(省控线)</th><th>调档线</th><th>平均分</th><th>调档线差</th><th>平均线差</th><th>院校招生网</th></tr>`;
          tbody += `<tr>
            <th scope='row' class='name' style='text-align:left;padding-left:20px;padding-right:0;'>
              <span style='font-size:1.2em;'>
                ${school.name}
                <span style="color:#9c27b0;font-size:0.8em;">
                  ${school.project}
                </span>
              </span>
            </th>
            <td>${school.position}</td>
            <td>
              ${school.batch} (${line})
            </td>
            <td>${school.minScore}</td>
            <td>${school.avgScore}</td>
            <td>
              ${school.minScore - line}
            </td>
            <td>
              ${school.avgScore - line}
            </td>
            <td>
              ${site}
            </td>
          </tr>`;
          break;
        case '/college/equipotential':
          thead = `<tr><th  style="text-align:left;padding-left:20px;padding-right:0;">高校名称</th> <th>所在地</th><th>录取批次(省控线)</th><th>调档线</th><th>平均分</th><th>等位分</th><th>院校招生网</th></tr>`;
          tbody += `<tr>
            <th scope='row' class='name' style='text-align:left;padding-left:20px;padding-right:0;'>
              <span style='font-size:1.2em;'>
                ${school.name}
                <span style="color:#9c27b0;font-size:0.8em;">
                  ${school.project}
                </span>
              </span>
            </th>
            <td>${school.position}</td>
            <td>
              ${school.batch} (${line})
            </td>
            <td>${school.minScore}</td>
            <td>${school.avgScore}</td>
            <td>
              ${school.equipotential}
            </td>
            <td>
              ${site}
            </td>
          </tr>`;
          break;
        case '/college/rank':
          thead = `<tr><th  style="text-align:left;padding-left:20px;padding-right:0;">高校名称</th> <th>所在地</th><th>录取批次(省控线)</th><th>调档线</th><th>平均分</th><th>调档位次</th><th>院校招生网</th></tr>`;
          tbody += `<tr>
            <th scope='row' class='name' style='text-align:left;padding-left:20px;padding-right:0;'>
              <span style='font-size:1.2em;'>
                ${school.name}
                <span style="color:#9c27b0;font-size:0.8em;">
                  ${school.project}
                </span>
              </span>
            </th>
            <td>${school.position}</td>
            <td>
              ${school.batch} (${line})
            </td>
            <td>${school.minScore}</td>
            <td>${school.avgScore}</td>
            <td>
              ${school.rank}
            </td>
            <td>
              ${site}
            </td>
          </tr>`;
          break;
        case '/major/difference':
          thead = `<tr><th  style="text-align:left;padding-left:20px;padding-right:0;">高校名称</th> <th>所在地</th><th>专业名称</th><th>录取批次(省控线)</th><th>专业最低分</th><th>专业平均分</th><th>专业最高分</th><th>院校招生网</th></tr>`;
          tbody += `<tr>
            <th scope='row' class='name' style='text-align:left;padding-left:20px;padding-right:0;'>
              <span style='font-size:1.2em;'>
                ${school.school_name}
                <span style="color:#9c27b0;font-size:0.8em;">
                  ${school.project}
                </span>
              </span>
            </th>
            <td>${school.school_pos}</td>
            <td>
              ${school.name} (${line})
            </td>
            <td>
              ${school.batch} (${line})
            </td>
            <td>${school.minScore}</td>
            <td>${school.avgScore}</td>
            <td>${school.maxScore}</td>
            <td>
              ${site}
            </td>
          </tr>`;
          break;
        case '/major/rank':
          thead = `<tr><th style="text-align:left;padding-left:20px;padding-right:0;">高校名称</th> <th>所在地</th><th>专业名称</th><th>录取批次(省控线)</th><th>专业最低分</th><th>专业平均分</th><th>专业最高分</th><th>最低分位次</th><th>院校招生网</th></tr>`;
          tbody += `<tr>
            <th scope='row' class='name' style='text-align:left;padding-left:20px;padding-right:0;'>
              <span style='font-size:1.2em;'>
                ${school.school_name}
                <span style="color:#9c27b0;font-size:0.8em;">
                  ${school.project}
                </span>
              </span>
            </th>
            <td>${school.school_pos}</td>
            <td>
              ${school.name} (${line})
            </td>
            <td>
              ${school.batch} (${line})
            </td>
            <td>${school.minScore}</td>
            <td>${school.avgScore}</td>
            <td>${school.maxScore}</td>
            <td>${school.rank}</td>
            <td>
              ${site}
            </td>
          </tr>`;
          break;
        default: break;
      }
    $('.table thead').html(thead);
  });
  $('.table tbody').html(tbody);
}
</script>
