<!-- 总页数大于1则显示页码 -->
{% if totalPages > 1 %}
<nav id='pagination' aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <!-- <li class="page-item {%if page == 1%}disabled{%endif%}">
      <a class="page-link" tabindex="-1"> < </a>
    </li> -->
    {% for i in range(1, totalPages + 1) -%}
    <li class="page-item {% if i == query.page %}active{%endif%}">
      <a class="page-link">{{i}}</a>
    </li>
    {%- endfor %}
    <!-- <li class="page-item {%if page == totalPages%}disabled{%endif%}">
      <a class="page-link"> > </a>
    </li> -->
  </ul>
</nav>
{%endif%}

<script type="text/javascript">
  "use strict";
  //绑定click事件
  let lists = $(".pagination li"),
      page = null;
  lists.each(function(index) {
    $(this).on('click', function(){
      lists.removeClass('active');
      $(this).addClass('active');
      //ajax请求数据
      $.ajax({
        type: 'GET',
        url: window.location.pathname,
        dataType: 'json',
        data: {
          city: $('#city option:selected').text(),
          is985: $('#nef').is(':checked'),
          is211: $('#too').is(':checked'),
          year: '{{query.year}}',
          pos: '{{query.pos}}',
          category: '{{query.category}}',
          batch: '{{query.batch}}',
          score: parseInt('{{query.score}}'),
          eq: '{{query.eq}}',
          rank: '{{query.rank}}',
          range: parseInt('{{query.range}}'),
          scoreType: '{{query.scoreType}}',
          major: {%if query.major %}'{{query.major}}'{%else%}null{%endif%},
          page: index + 1
        }
      }).done(function(data){
        freshTable(data);
      });
    })
  });
</script>
