{% extends "../inc/base.html" %}

{% block page %}
<section class="container search">
  <div class="row">
    <div class="card col-7">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#school" role="tab">按 院 校</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#major" role="tab">按 专 业</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active fade show" id="school" role="tabpanel">
          {% include '../component/school_search.html' %}
        </div>
        <div class="tab-pane fade" id="major" role="tabpanel">
          {% include '../component/major_search.html' %}
        </div>
      </div>
    </div>

    <div class="card col-4 news" style="margin-left:20px">
    </div>
  </div>
</section>


{% endblock %}

{% block script %}
<script>
  window.onload = function() {
    if(window.location.pathname.search(/(\/index){1,2}/) >= 0 || window.location.pathname == "/") {
      $('.outer_container').addClass('bk');
    }
  }
</script>
{% endblock %}
