<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>echarts | test</title>
  <script src="/static/js/echarts.min.js" charset="utf-8"></script>
</head>
<body>
<div id="test" style="width:700px;height:700px"></div>

<script type="text/javascript">
"use strict";
let test = echarts.init(document.getElementById('test'));
let data = [];
{% for item in data %}
data.push([{{item.min}}, {{item.eq}}]);
{% endfor %}
let option = {
  grid: [
      {x: '7%', y: '7%', width: '80%', height: '80%'},
      {x2: '7%', y: '7%', width: '38%', height: '38%'},
      {x: '7%', y2: '7%', width: '38%', height: '38%'},
      {x2: '7%', y2: '7%', width: '38%', height: '38%'}
  ],
  tooltip: {
      formatter: 'Group {a}: ({c})'
  },
  xAxis: [
      {gridIndex: 0, min: 400, max: 700, name: '调档线'}
  ],
  yAxis: [
      {gridIndex: 0, min: 500, max: 900, name: '等位分'}
  ],
  series: [
      {
          name: 'I',
          type: 'scatter',
          xAxisIndex: 0,
          yAxisIndex: 0,
          data: data
      }
  ]
};

test.setOption(option)
</script>
</body>
</html>
