<div id="majorLine"></div>
<script>
let majorLine = echarts.init(document.getElementById('majorLine'));
$.ajax({
  type: 'post',
  dataType: 'json',
  url: window.location.pathname,
  data: {
    id: id
  }
}).done(function(data) {

  var dataMap = {};
  function dataFormatter(obj) {
    var pList = ['计算机科学与技术','通信工程','机械设计制造及其自动化','土木工程','电气工程及其自动化','会计学','中医','临床医学','自动化','工商管理'];
    var temp;
    for (var year = 2014; year <= 2016; year++) {
        var max = 0;
        var sum = 0;
        temp = obj[year];
        for (var i = 0, l = temp.length; i < l; i++) {
            max = Math.max(max, temp[i]);
            sum += temp[i];
            obj[year][i] = {
                name : pList[i],
                value : temp[i]
            }
        }
    }
    return obj;
  }
  //将专业名称每5个字后加一个换行符
  let list = [];
  data.data.majorList.forEach(function(item) {
    let self = item.split('');
    for(let i = 1; i < self.length; i++) {
      if ((i+1) % 6 == 0) {
        self[i] = self[i] + '\n';
      }
    }
    self = self.join('');
    list.push(self)
  });

  let tableMin, tableMax;
  tableMin = Math.min.apply(this, data.data.min2014.concat(data.data.min2015).concat(data.data.min2016));
  tableMax = Math.max.apply(this, data.data.max2014.concat(data.data.max2015).concat(data.data.max2016));

  if (tableMax > Math.round(tableMax/100)*100) {
    tableMax = Math.round(tableMax/100)*100 + 50;
  } else {
    tableMax = Math.round(tableMax/100)*100 - 50;
  }

  if (tableMin > Math.round(tableMin/100)*100) {
    tableMin = Math.round(tableMin/100)*100 + 50;
  } else {
    tableMin = Math.round(tableMin/100)*100 - 50;
  }

  dataMap.min = dataFormatter({
    2014:data.data.min2014,
    2015:data.data.min2015,
    2016:data.data.min2016
  });

  dataMap.avg = dataFormatter({
    2014:data.data.avg2014,
    2015:data.data.avg2015,
    2016:data.data.avg2016
  });

  dataMap.max = dataFormatter({
    2014:data.data.max2014,
    2015:data.data.max2015,
    2016:data.data.max2016
  });



  let majorLineOption = {
    baseOption: {
        timeline: {
            // y: 0,
            axisType: 'category',
            // realtime: false,
            // loop: false,
            autoPlay: true,
            // currentIndex: 2,
            playInterval: 2000,
            // controlStyle: {
            //     position: 'left'
            // },
            data: [
                '2014','2015','2016'
            ],
            label: {
                formatter : function(s) {
                    return (new Date(s)).getFullYear();
                }
            }
        },
        legend: {
            x: 'left',
            data: ['最低分', '最高分', '平均分'],
            top: 28,
            left: '4%'
        },
        calculable : true,
        grid: {
            top: 80,
            bottom: 100,
            left: '4%',
            right: '4%',
            show: true,
            backgroundColor: '#efefef',
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow',
                    label: {
                        show: true,
                        formatter: function (params) {
                            return params.value.replace('\n', '');
                        }
                    }
                }
            }
        },
        xAxis: [
            {
                'type':'category',
                'axisLabel':{'interval':0},
                'data':list,
                splitLine: {show: false}
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '',
                min:tableMin,
                max:tableMax
            }
        ],
        series: [
              {
                name: '最低分',
                type: 'bar',
                label:{
                  normal:{
                    show:true,
                    position:'top',
                    textStyle:{
                      fontSize:10
                      }
                    }
                  }
              },

              {
                name: '平均分',
                type: 'bar',
                label:{
                  normal:{
                    show:true,
                    position:'top',
                    textStyle:{
                      fontSize:10
                      }
                    }
                  }
              },

              {
                name: '最高分',
                type: 'bar',
                label:{
                  normal:{
                    show:true,
                    position:'top',
                    textStyle:{
                      fontSize:10
                      }
                    }
                  }
              }
          ]
    },
    options: [
        {
            title: {text: '2014年热门专业分数线（四川省）',left:'center'},
            series: [
                {data: dataMap.min['2014']},
                {data: dataMap.avg['2014']},
                {data: dataMap.max['2014']},
            ]
        },
        {
            title: {text: '2015年热门专业分数线（四川省）'},
            series: [
                {data: dataMap.min['2015']},
                {data: dataMap.avg['2015']},
                {data: dataMap.max['2015']}
            ]
        },
        {
            title: {text: '2016年热门专业分数线（四川省）'},
            series: [
                {data: dataMap.min['2016']},
                {data: dataMap.avg['2016']},
                {data: dataMap.max['2016']}
            ]
        },
    ]
  };
  majorLine.setOption(majorLineOption)
})

</script>
