{% extends "../inc/base.html" %} {%block style%}
<style>
    #detailNav {
        padding: 0;
        margin-right: 40px;
    }

    .schoolLogo {
        width: 100%;
        border: 3px solid #eee;
        box-sizing: border-box;
        border-radius: 2px 2px 0 0;
    }

    .nav-pills {
        width: 100%;
        text-align: center;
    }
    .detail {
      margin: 0;
    }
    .detail>* {
        box-sizing: border-box;
    }

    .detail .content {
        flex: 1;
        padding: 0 20px;
    }
    /*#intro*/
    #intro {
      width: 100%;
    }
    #intro .name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    #intro>div p {
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 0;
        flex-shrink: 1;
    }

    #intro>span {
        margin-right: 10px;
        border: 1px solid #9c27b0;
        color: #9c27b0;
        padding: 0px 8px;
        border-radius: 2px;
    }
    .title {
        font-size: 18px;
        border-left: 5px solid #9c27b0;
        padding-left: 10px;
        margin-top: 60px;
        margin-bottom: 10px;
    }
    .brief_info div {
      font-size: 1.1em;
      text-indent: 2em;
      padding: 10px 20px;
      line-height: 1.5em;
      color: #666;
    }
    .row2 p {
        text-indent: 2em;
        font-size: 16px;
    }

    .row3 #majorLine {
        width: 100%;
        height: 500px;
        margin-top: 20px;
    }

    .row3 #schoolLine {
        width: 100%;
        height: 600px;
        margin-top: 20px;
    }
</style>
{%endblock%}
{%block page%}
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/">首页</a>
  <a class="breadcrumb-item" href="/home/index/search">搜索</a>
  <a class="breadcrumb-item" href='javascript:history.back(-1)'>搜索结果</a>
  <span class="breadcrumb-item active">{{school.name}}</span>
</nav>
<section class="detail row align-items-start flex-row">
    <nav id="detailNav" class="navbar navbar-light bg-faded col-2 flex-column">
        <img class="schoolLogo" src="http://sinastorage.com/kaoshi.edu.sina.com.cn/college_logo/{{school.id}}.jpg" alt="" />
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link active" href="#brief_label">学校概况</a></li>
            <li class="nav-item"><a class="nav-link" href="#school_label">学校分数线</a></li>
            <li class="nav-item"><a class="nav-link" href="#major_label">专业分数线</a></li>
            <li class="nav-item"><a class="nav-link" href="#job_label">就业信息</a></li>
        </ul>
    </nav>

    <div data-offset="0" class="content d-flex flex-column col-9">
        <section class="row1 d-flex flex-row align-items-start justify-content-between">
            <div id="intro" style="padding-top:5px;">
                <p class="name d-flex align-items-center">
                    <span>{{school.name}}</span>
                    <button class="btn btn-primary" style="margin-left:20px;" onclick="toggleMap()">查看地图</button>
                </p>
                {%if school.tips[0]%}<span>{{school.tips[0]}}</span>{%endif%}
                {%if school.tips[1]%}<span>{{school.tips[1]}}</span>{%endif%}
                {%if school.tips[2]%}<span>{{school.tips[2]}}</span>{%endif%}
                {%if school.tips[3]%}<span>{{school.tips[3]}}</span>{%endif%}
                <div class="flex-row d-flex flex-wrap justify-content-start">
                    {%if school.pos %}<p>{{school.pos}}</p>{%endif%}
                    {%if school.belong %}<p>{{school.belong}}</p>{%endif%}
                    {%if school.acs %}<p>{{school.acs}}</p>{%endif%}
                    {%if school.type %}<p>{{school.type}}</p>{%endif%}
                    {%if school.ess %}<p>{{school.ess}}</p>{%endif%}
                    {%if school.master %}<p>{{school.master}}</p>{%endif%}
                    {%if school.doctor %}<p>{{school.doctor}}</p>{%endif%}
                </div>
            </div>
        </section>


        <!-- 学校概况 -->
        <span class="title" id="brief_label">学校概况</span>

        <ul class="nav nav-tabs nav-tabs-material" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#teacher" role="tab">师资力量</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#student" role="tab">在校生信息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#living" role="tab">食宿条件</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#history" role="tab">历史沿革</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#lab" role="tab">重点实验室</a>
          </li>
        </ul>

        <div class="tab-content brief_info">
          <div class="tab-pane active" id="teacher" role="tabpanel">{{school.intro[0]}}</div>
          <div class="tab-pane" id="student" role="tabpanel">{{school.intro[3]}}</div>
          <div class="tab-pane" id="living" role="tabpanel">{{school.intro[4]}}</div>
          <div class="tab-pane" id="history" role="tabpanel">{{school.intro[1]}}</div>
          <div class="tab-pane" id="lab" role="tabpanel">{{school.intro[5]}}</div>
        </div>


        <!-- 学校/专业分数线 -->
        <p class="title" id="school_label">学校分数线</p>
        <section class="row3 d-flex flex-column justify-content-between">
          {% include '../chart/schoolLine.html' %}
          <p class="title" id="major_label">专业分数线</p>
          {% include '../chart/majorLine.html' %}
        </section>

        <!-- 就业信息iframe -->
        <p class="title" id="job_label">就业信息</p>
        <iframe src="http://kaoshi.edu.sina.com.cn/college/c/ipin?id={{school.id}}" height="800px" style="border:none"></iframe>


    </div>
</section>
{% include "../inc/mapModal.html" %}
{%endblock%}

{% block script %}
<script type="text/javascript">

</script>
{% endblock %}
