{% extends "../inc/base.html" %}

{% block page %}
<section class="result">
  <div class="sider">
    <div class="card">
      {% include "../component/side_search.html" %}
    </div>
    <div class="card" style="padding:0 0 20px 0">
      {% include "../chart/admission.html" %}
    </div>
  </div>
  <div class="content">
    <div class="alert alert-primary info" role="alert">
      <span style="color:#ddd">参考年份: <b style="color:#fff;font-size:1.1em">{{query.year}}</b></span>
      <span style="color:#ddd">考生来源: <b style="color:#fff;font-size:1.1em">{{query.pos}}</b></span>
      <span style="color:#ddd">考生科类: <b style="color:#fff;font-size:1.1em">{{query.category}}</b></span>
      <span style="color:#ddd">
        等位分:
        <b style="color:#fff;font-size:1.1em">{{query.eq}}</b>
      </span>

      <span style="color:#ddd">
        <!-- {% if query.scoreType == 'min' %}
        最低线差区间:
        {% elif query.scoreType == 'avg' %}
        平均线差区间:
        {% else %}
        最高线差区间:
        {% endif %} -->
        查找区间:
        <b style="color:#fff;font-size:1.1em">
          {{query.eq - query.range}} 至 {{query.eq + query.range}} 分
        </b>
      </span>
    </div>
    {% include "../inc/filter.html" %}
    <span class="badge badge-default resultCount" style="margin-bottom:10px;font-size:1em">共匹配到 <b>{{count}}</b> 条结果:</span>
    <div class="card">
    <table class="table table-striped">
      <!-- 学校查找 -->
      <thead>
        <tr>
          <th style="text-align:left;padding-left:20px;padding-right:0;">高校名称</th>
          <th>地区</th>
          <th>专业名称</th>
          <th>录取批次(省控线)</th>
          <th>专业最低分</th>
          <th>专业平均分</th>
          <th>专业最高分</th>
          <th>专业解读</th>
        </tr>
      </thead>
      <tbody>
        {% for item in majors %}
        <tr>
          <th scope="row" class="name" style="text-align:left;padding-left:20px;padding-right:0;">
            <span style="font-size:1.2em">
              <a class="key" href="/college/{{item.id}}">{{item.school_name}}</a>
              <span style="color:#9c27b0;font-size:0.8em">
                {{item.project}}
              </span>
            </span>
          </th>
          <td>{{item.school_pos}}</td>
          <td>{{item.name}}</td>
          <td>
            {% if item.batch.slice(3,4) == '一' %}
              {{item.batch}} ({{line[0].line}})
            {%else%}
              {{item.batch}} ({{line[1].line}})
            {%endif%}
          </td>
          <td>{{item.minScore}}</td>
          <td>{{item.avgScore}}</td>
          <td>{{item.maxScore}}</td>
          <td>
            <a href="javascript:void(0)">查看</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include '../inc/pagination.html' %}
  </div>
</div>
</section>
{% endblock %}
