<div class="alert alert-primary info" role="alert">
  <span style="color:#ddd">参考年份: <b style="color:#fff;font-size:1.1em">2015</b></span>
  <span style="color:#ddd">考生来源: <b style="color:#fff;font-size:1.1em">四川省</b></span>
  <span style="color:#ddd">考生科类: <b style="color:#fff;font-size:1.1em">理工</b></span>
  <span style="color:#ddd">高考分数: <b style="color:#fff;font-size:1.1em">656</b></span>
  <span style="color:#ddd">查找分数: <b style="color:#fff;font-size:1.1em">656 ± 5</b></span>
</div>

<div class="btn-group">
  <span class="badge badge-primary">地区 </span>
  <select class="custom-select">
    <option selected>所有地区</option>
    <option value="1">北京市</option>
    <option value="2">天津市</option>
  </select>
  <span class="badge badge-primary">类型 </span>
  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input">
    <span class="custom-control-indicator" style="z-index:10"></span>
    <span class="custom-control-description">985</span>
  </label>
  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input">
    <span class="custom-control-indicator" style="z-index:10"></span>
    <span class="custom-control-description">211</span>
  </label>
</div>

<div class="card">
<table class="table table-striped">
  <thead>
    <tr>
      <th>高校名称</th>
      <th>所在地</th>
      <th>录取批次(分数线)</th>
      <th>调档线</th>
      <th>平均分</th>
      <th>录取线差</th>
      <th>招生网</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="name">
        <span>西南交通大学</span>
      </th>
      <td>四川</td>
      <td>本科一批(521)</td>
      <td>576</td>
      <td>588</td>
      <td>55</td>
      <td>
        <a href="https://baidu.com/" target="_blank">进入</a>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1"> < </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#"> > </a>
    </li>
  </ul>
</nav>
</div>
