
<section class="container help">
  <span class="badge badge-default" style="margin:16px; margin-bottom:0;">参考手册</span>
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div>
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            1. 如何使用 等位分 进行查询？
          </a>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <ul>
            <li>省份: 指考生用户的生源地;</li>
            <li>参考年份: 指的是参考院校在考生用户生源地的某一年的录取分数情况;</li>
            <li>考生类型: 理科/文科</li>
            <li>录取批次: 指的是考生用户希望查找哪一批次的院校，可选本科一批次或者本科二批次</li>
            <li>等位分: 输入的是考生用户今年高考成绩的等位分，需要注意的是查找本科一批次与查找本科二批次的时输入的等位分是不一样的</li>
            <li>浮动区间: 可选±5、±10、±15、±20中的一个 </li>
          </ul>
          <h5>例如:</h5>
          小明是四川省的理科考生，2017年的高考成绩的等位分是600，希望查找2016年内院校实录线的等位分在595-605内的本科一批次院校，那么他应该这么填写：
          <ul>
            <li>省份: 四川省</li>
            <li>参考年份: 2016</li>
            <li>考生类型: 理科</li>
            <li>录取批次: 本科第一批</li>
            <li>等位分: 600</li>
            <li>浮动区间: ±5 </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2. 如何使用 位次 进行查询？
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          <h4>查院校:</h4>
          <ul>
            <li>省份: 指考生用户的生源地;</li>
            <li>参考年份: 指的是参考院校在考生用户生源地的某一年的录取分数情况;</li>
            <li>考生类型: 理科/文科</li>
            <li>位次: 输入的是考生用户高考今年在全省的排名</li>
            <li>浮动区间: 可选±5%、±10%、±15%、±20%中的一个 </li>
          </ul>
          <h5>例如:</h5>
          小明是四川省的理科考生，今年在全省的排名是1000，希望查找2016内院校调档线的位次在900-1100内的院校，那么他应该这么填写：
          <ul>
            <li>省份: 四川省</li>
            <li>参考年份: 2016</li>
            <li>考生类型: 理科</li>
            <li>位次: 10000</li>
            <li>浮动区间: ±10 </li>
          </ul>

          <h4>查专业:</h4>
          <ul>
            <li>专业: 指的是考生用户想要报考的专业;</li>
          </ul>
          <h5>例如:</h5>
          小明是四川省的理科考生，今年在全省的排名是1000，希望查找2016内全国院校关于“自动化”专业的录取最低分的位次在900~1100内的院校，那么他应该这么填写：
          <ul>
            <li>省份: 四川省</li>
            <li>参考年份: 2016</li>
            <li>考生类型: 理科</li>
            <li>位次: 10000</li>
            <li>浮动区间: ±10 </li>
            <li>专业: 自动化 </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            3. 如何使用 线差 进行查询？
          </a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
          <h4>查院校:</h4>
          <ul>
            <li>省份: 指考生用户的生源地;</li>
            <li>参考年份: 指的是参考院校在考生用户生源地的某一年的录取分数情况;</li>
            <li>考生类型: 理科/文科</li>
            <li>录取批次: 指的是考生用户希望查找哪一批次的院校，可选本科一批次或者本科二批次</li>
            <li>参考分数类型: 指的是考生用户是希望用调档线同省控线(参考年份内的)的线差查找，还是希望用录取平均分同省控线(参考年份内的)的线差查找</li>
            <li>线差: 考生用户今年的高考成绩与所报批次分数线之差</li>
            <li>浮动区间: 可选±5、±10、±15、±20中的一个 </li>
          </ul>
          <h5>例如:</h5>
          小明是四川省的理科考生，今年的高考成绩是600分，同今年的高考成绩同今年本科一批次的省控线的线差是+50分，同本科二批次的省控线的线差是+100分，希望查找2016年内本科一批次院校的调档线同2016年本科一批次省控线的线差在45~55之间的院校时，他应该这么填写：
          <ul>
            <li>省份: 四川省</li>
            <li>参考年份: 2016</li>
            <li>考生类型: 理科</li>
            <li>录取批次: 本科第一批</li>
            <li>参考分数类型: 调档线</li>
            <li>线差: 60</li>
            <li>浮动区间: ±5 </li>
          </ul>

          <h4>查专业:</h4>
          <ul>
            <li>专业: 指的是考生用户想要报考的专业
</li>
          </ul>
          <h5>例如:</h5>
          小明是四川省的理科考生，今年的高考成绩是600分，今年的高考成绩同今年本科一批次的省控线的线差是+50分，同本科二批次的省控线的线差是+100分，希望查找2016年本科一批次院校关于“计算机科学与技术”的录取最低分同2016年的省控线之间的线差在40~60之间的院校时，那么他应该这么填写：
          <ul>
            <li>省份: 四川省</li>
            <li>参考年份: 2016</li>
            <li>考生类型: 理科</li>
            <li>录取批次: 本科第一批</li>
            <li>参考分数类型: 调档线</li>
            <li>线差: 60</li>
            <li>浮动区间: ±5 </li>
            <li>专业: 计算机科学与技术 </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
