<!-- form表单 -->
  <form action="/major/equipotential" class="row" method="get">
      <select name="pos" class="custom-select col-2">
        <option disabled="disabled" value="0">考生所在地</option>
        <option value="四川省" selected="selected">四川省</option>
      </select>
      <select name="year" class="custom-select col-2">
        <option disabled="disabled" selected="selected" value="0">参考年份</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
      </select>
      <select name="subject" class="custom-select col-2">
        <option disabled="disabled" value="0">考生类型</option>
        <option selected="selected" value="理科">理科</option>
      </select>
      <!-- 等位分查询用 -->
      <div class="col-2">
        <input name="eq" type="number" class="form-control" placeholder="等位分(100-900)">
      </div>
      <!--  -->
      <select name="scoreType" class="custom-select col-2">
        <option disabled="disabled" selected="selected" value="0">参考分数类型</option>
        <option value="min">最低分</option>
        <option value="avg">平均分</option>
        <option value="max">最高分</option>
      </select>
      <select name="range" class="custom-select col-2">
        <option selected="selected" disabled="disabled" value="0">浮动区间</option>
        <option value="5">± 5</option>
        <option value="10">± 10</option>
        <option value="15">± 15</option>
        <option value="20">± 20</option>
      </select>
      <select name="major" class="custom-select col-2">
        <option disabled="disabled" selected="selected" value="0">专业</option>
        <option value="1">计算机科学与技术</option>
        <option value="2">通信工程</option>
        <option value="3">机械设计制造及其自动化</option>
        <option value="4">土木工程</option>
        <option value="5">电气工程及其自动化</option>
        <option value="6">会计学</option>
        <option value="7">中医</option>
        <option value="8">临床医学</option>
        <option value="9">自动化</option>
        <option value="10">工商管理</option>
      </select>
      <input name="page" hidden="hidden" type="text" value="1" />
      <input class="btn btn-primary" type='button' value="搜索" onclick="validate()" />
  </form>
  <script>
    "use strict";
    //获取当前href
    let href = window.location.href;

    //if 结果页面  else 首页
    if (href.indexOf('college') >= 0 ||  href.indexOf('major') >= 0) {
      //获得所有子节点（form item)
      let children = $('form').children();

      //去掉col-2属性
      children.each(function(index, ele) {
        if ($(this).hasClass('col-2')) {
          $(this).removeClass('col-2');
        }
      });

    }

    //每次提交 验证当前活跃form表单是否完整
    function validate() {
      //初始提交
      let flag = true;
      //当前活跃form  可能在首页为.search，也可能在结果页为side
      let curForm = $(".search .tab-pane.active form").length ?
                    $(".search .tab-pane.active form") :
                    $(".sider .tab-pane.active form");
      console.log(curForm);
      //所有select 及 除最后一个input
      let select = curForm.find('select'),
          input = curForm.find('input').slice(0, -2);

      //select不能选第一个（即未选）
      select.each(function(index, ele) {
        if ($(this)[0].selectedIndex == 0 ) {
          flag = false;
        };
      });

      input.each(function(index, ele) {
        if (!$(this).val()) {
          flag = false;
        }
      });
      let score = curForm.find('input[name=score]').val();
      let eq = curForm.find('input[name=eq]').val();
      if (score && (score < 0 || score > 750)) {
        flag = false;
      }
      if (eq && (eq < 100 || eq > 900)) {
        flag = false;
      }

      if (!flag) {
        $('#modal').modal('show');
      } else {
        curForm.submit();
      }
    }


  //设置选中项目
  if (`{{query}}`) {
    $('select[name=pos]').val(`{{query.pos}}` || 0); //生源地
    $('select[name=subject]').val(`{{query.category}}` || 0); //科目
    $('input[name=eq]').val(`{{query.eq}}`); //等位分
    $('select[name=range]').val(`{{query.range}}` || 0); //浮动区间
    $('select[name=batch]').val(`{{query.batch}}` || 0); //批次
    $('input[name=rank]').val(`{{query.rank}}`); //排名
    $('input[name=score]').val(`{{query.score}}`); //高考分数
    $('select[name=major]').val(`{{query.major}}` || 0); //专业

    //year
    $('select[name=year]').find($(`option[value={{query.year}}]`)).each(function(index, ele) {
      $(this).attr('selected', '');
    })

    //参考分数类型
    if (`{{query.scoreType}}`) {
      $('select[name=scoreType]').find($(`option[value={{query.scoreType}}]`)).each(function(index, ele) {
        $(this).attr('selected', '');
      })
    }

  }
  </script>
