
  <!-- form表单 -->
  <form action="/home/major/rank" class="row" method="get">
    <select name="pos" class="custom-select col-2">
      <option disabled="disabled">考生所在地</option>
      <option value="四川省" selected="selected">四川省</option>
    </select>
    <select name="year" class="custom-select col-2">
      <option disabled="disabled">参考年份</option>
      <option value="2016">2016</option>
      <option value="2015" selected="selected">2015</option>
      <option value="2014">2014</option>
    </select>
    <select name="subject" class="custom-select col-2">
      <option disabled="disabled">考生类型</option>
      <option selected="selected" value="理科">理科</option>
    </select>
    <div class="col-2">
      <input name="rank" type="number" class="form-control" placeholder="考生排名">
    </div>
    <div class="col-2">
      <input name="range" type="number" class="form-control" placeholder="浮动百分比(%)">
    </div>
    <select name="scoreType" class="custom-select col-2">
      <option disabled="disabled">参考分数类型</option>
      <option value="min" selected="selected">最低分</option>
      <option value="avg">平均分</option>
      <option value="max">最高分</option>
    </select>
    <select name="major" class="custom-select col-2">
      <option disabled="disabled">专业</option>
      <option value="1" selected="selected">计算机科学与技术</option>
      <option value="2">通信工程</option>
      <option value="3">机械设计制造及其自动化</option>
      <option value="4">土木工程</option>
      <option value="5">电气工程及其自动化</option>
      <option value="6">会计学</option>
      <option value="7">中医</option>
      <option value="8">临床医学</option>
      <option value="9">自动化</option>
      <option value="10">工商管理</option>
    </select>
    <input name="page" hidden="hidden" type="text" value="1" />
    <input class="btn btn-primary" type='button' value="搜索" onclick="validate()" />
  </form>
