
  <!-- form表单 -->
  <form action="/major/rank" class="row" method="get">
    <select name="pos" class="custom-select col-2">
      <option disabled="disabled" value="0">考生地区</option>
      <option value="四川省" selected="selected">四川省</option>
    </select>
    <select name="year" class="custom-select col-2">
      <option disabled="disabled" selected="selected" value="0">参考年份</option>
      <option value="2016">2016</option>
      <option value="2015">2015</option>
      <option value="2014">2014</option>
    </select>
    <select name="category" class="custom-select col-2">
      <option disabled="disabled" value="0">考生类型</option>
      <option selected="selected" value="理科">理科</option>
    </select>
    <div class="col-2">
      <input name="rank" type="number" class="form-control" placeholder="位次">
    </div>
    <select name="range" class="custom-select col-2">
      <option selected="selected" disabled="disabled" value="-1">浮动百分比</option>
      <option value="0">不限</option>
      <option value="5">± %5</option>
      <option value="10">± %10</option>
      <option value="15">± %15</option>
      <option value="20">± %20</option>
    </select>
    <select name="major" class="custom-select col-2">
      <option disabled="disabled" selected="selected" value="0">专业</option>
      <option value="1">计算机科学与技术</option>
      <option value="2">通信工程</option>
      <option value="3">机械设计制造及其自动化</option>
      <option value="4">土木工程</option>
      <option value="5">电气工程及其自动化</option>
      <option value="6">会计学</option>
      <option value="7">中医</option>
      <option value="8">临床医学</option>
      <option value="9">自动化</option>
      <option value="10">工商管理</option>
    </select>
    <input class="btn btn-primary" type='button' value="搜索" onclick="validate()" />
  </form>
  <script type="text/javascript">
  'use strict';
    let mr = $(`form[action='/major/rank']`),
        md = $(`form[action='/major/difference']`),
        sd = $(`form[action='/college/difference']`),
        sr = $(`form[action='/college/rank']`),
        se = $(`form[action='/college/equipotential']`);
    //学校-等位分
    let seYear = se.find(`select[name='year']`),
        seBatch = se.find(`select[name='batch']`),
        seEq = se.find(`input[name='eq']`);

    seYear.change(handleSeInput);
    seBatch.change(handleSeInput);
    function handleSeInput() {
      if (seYear[0].selectedIndex == 1) {
        if (seBatch[0].selectedIndex == 1)
          seEq.attr('placeholder', '等位分(≥573)');
        if (seBatch[0].selectedIndex == 2)
          seEq.attr('placeholder', '等位分(≥477)');
      }
      if (seYear[0].selectedIndex == 2) {
        if (seBatch[0].selectedIndex == 1)
          seEq.attr('placeholder', '等位分(≥573)');
        if (seBatch[0].selectedIndex == 2)
          seEq.attr('placeholder', '等位分(≥477)');
      }
      if (seYear[0].selectedIndex == 3) {
        if (seBatch[0].selectedIndex == 1)
          seEq.attr('placeholder', '等位分(≥604)');
        if (seBatch[0].selectedIndex == 2)
          seEq.attr('placeholder', '等位分(≥535)');
      }
    }
    //学校-位次
    let srYear = sr.find(`select[name='year']`),
        srRank = sr.find(`input[name='rank']`);

    srYear.change(handleSrInput);
    function handleSrInput() {
      if (srYear[0].selectedIndex == 1) {
        srRank.attr('placeholder', '位次(≤194195)');
      }
      if (srYear[0].selectedIndex == 2) {
        srRank.attr('placeholder', '位次(≤183666)');
      }
      if (srYear[0].selectedIndex == 3) {
        srRank.attr('placeholder', '位次(≤132223)');
      }
    }
    //学校-线差
    // let sdRange = sd.find(`select[name='range']`),
    //     sdScore = sd.find(`input[name='score']`);
    //
    // sdRange.change(handleSdInput);
    // function handleSdInput() {
    //   if (sdRange[0].selectedIndex == 1) {
    //     sdScore.attr('placeholder', '线差(≥ -5)');
    //   }
    //   if (sdRange[0].selectedIndex == 2) {
    //     sdScore.attr('placeholder', '线差(≥ -10)');
    //   }
    //   if (sdRange[0].selectedIndex == 3) {
    //     sdScore.attr('placeholder', '线差(≥ -15)');
    //   }
    //   if (sdRange[0].selectedIndex == 4) {
    //     sdScore.attr('placeholder', '线差(≥ -20)');
    //   }
    // }
    //专业-线差
    // let mdRange = md.find(`select[name='range']`),
    //     mdScore = md.find(`input[name='score']`);
    //
    // mdRange.change(handleMdInput);
    // function handleMdInput() {
    //   if (mdRange[0].selectedIndex == 1) {
    //     mdScore.attr('placeholder', '线差(≥ -5)');
    //   }
    //   if (mdRange[0].selectedIndex == 2) {
    //     mdScore.attr('placeholder', '线差(≥ -10)');
    //   }
    //   if (mdRange[0].selectedIndex == 3) {
    //     mdScore.attr('placeholder', '线差(≥ -15)');
    //   }
    //   if (mdRange[0].selectedIndex == 4) {
    //     mdScore.attr('placeholder', '线差(≥ -20)');
    //   }
    // }

    //专业-位次
    let mrYear = mr.find(`select[name='year']`),
        mrRank = mr.find(`input[name='rank']`);

    mrYear.change(handleMrInput);
    function handleMrInput() {
      if (mrYear[0].selectedIndex == 1) {
        mrRank.attr('placeholder', '位次(≤194194)');
      }
      if (mrYear[0].selectedIndex == 2) {
        mrRank.attr('placeholder', '位次(≤183666)');
      }
      if (mrYear[0].selectedIndex == 3) {
        mrRank.attr('placeholder', '位次(≤132223)');
      }
    }

    // 2016年份, 使用学校查询不能参考平均分
    let sdYear = sd.find(`select[name='year']`),
        sdType = sd.find(`select[name='scoreType']`);
    sdYear.change(handleSdYear);
    function handleSdYear() {
      if (sdYear[0].selectedIndex == 1) {
        sdType[0].selectedIndex = 1;
        sdType.find('option:nth-child(3)').attr('disabled', '');
      } else {
        sdType[0].selectedIndex = 1;
        sdType.find('option:nth-child(3)').removeAttr('disabled');
      }
    }
    window.onload = function() {
      //Major-rank input
      handleMrInput();
      //School-equipotential input
      handleSeInput();
      //School-rank input
      handleSrInput();
      //school-dif input
      handleSdYear();
    }
  </script>
