
    <form action="/college/rank" class="row" method="get">
      <select name="pos" class="custom-select col-2">
        <option disabled="disabled" value="0">考生所在地</option>
        <option value="四川省" selected="selected">四川省</option>
      </select>
      <select name="year" class="custom-select col-2">
        <option selected="selected" disabled="disabled" value="0">参考年份</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
      </select>
      <select name="subject" class="custom-select col-2">
        <option disabled="disabled" value="0">考生类型</option>
        <option value="理科" selected="selected">理科</option>
      </select>

      <!-- 排名查询用 -->
      <div class="col-2">
        <input name="rank" type="number" class="form-control" placeholder="(起始)位次">
      </div>
      <!--  -->
      <select name="range" class="custom-select col-2">
        <option disabled="disabled" selected="selected" value="0">浮动百分比</option>
        <option value="5">± %5</option>
        <option value="10">± %10</option>
        <option value="15">± %15</option>
        <option value="20">± %20</option>
      </select>
      <input name="page" hidden="hidden" type="text" value="1" />
      <input class="btn btn-primary" type='button' value="搜索" onclick="validate()" />
    </form>
