<section>
  <div class="row">
    <select class="custom-select col-3">
      <option selected>考生所在地</option>
      <option value="1">四川省</option>
      <option value="2">北京市</option>
      <option value="3">广东省</option>
    </select>
    <select class="custom-select col-3">
      <option selected>年份</option>
      <option value="1">2013</option>
      <option value="2">2014</option>
      <option value="3">2015</option>
    </select>
    <select class="custom-select col-3">
      <option selected>科类</option>
      <option value="1">理工</option>
    </select>
    <select class="custom-select col-3">
      <option selected>搜索方式</option>
      <option value="1">最低分</option>
      <option value="2">最高分</option>
      <option value="2">平均分</option>
    </select>
    <div class="col-3">
      <input type="number" class="form-control" placeholder="高考分数">
    </div>
    <select class="custom-select col-3">
      <option selected>浮动区间</option>
      <option value="1">± 5</option>
      <option value="2">± 10</option>
      <option value="2">± 15</option>
      <option value="2">± 20</option>
    </select>
    <select class="custom-select col-3">
      <option selected>专业</option>
      <option value="1">计算机科学与技术</option>
      <option value="2">通信工程</option>
      <option value="3">机械设计制造及其自动化</option>
      <option value="4">土木工程</option>
      <option value="5">电气工程及其自动化</option>
      <option value="6">会计学</option>
      <option value="7">中医</option>
      <option value="8">临床医学</option>
      <option value="9">自动化</option>
      <option value="10">工商管理</option>
    </select>
  </div>
  <div class="row">
    <a href="../index/result.html" class="col-3">
      <button class="btn btn-primary" type="submit">
        搜 索
      </button>
    </a>
  </div>
</section>
