<section>
  <form action="/result" method="get">
    <div class="row">
      <!-- 隐藏节点，额外传入type参数 -->
      <input name="type" hidden="hidden" type="text" value="major" />

      <select name="pos" class="custom-select col-3">
        <option selected>考生所在地</option>
        <option value="1">四川省</option>
      </select>
      <select name="year" class="custom-select col-3">
        <option selected>年份</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
      </select>
      <select name="subject" class="custom-select col-3">
        <option selected>科类</option>
        <option value="1">理工</option>
      </select>
      <select name="scoreType" class="custom-select col-3">
        <option selected>搜索方式</option>
        <option value="1">最低分</option>
        <option value="2">平均分</option>
        <option value="3">最高分</option>
      </select>
      <div class="col-3">
        <input name="score" type="number" class="form-control" placeholder="高考分数">
      </div>
      <select name="range" class="custom-select col-3">
        <option selected>浮动区间</option>
        <option value="5">± 5</option>
        <option value="10">± 10</option>
        <option value="15">± 15</option>
        <option value="20">± 20</option>
      </select>
      <select name="major" class="custom-select col-3">
        <option selected>专业</option>
        <option value="1">计算机科学与技术</option>
        <option value="2">通信工程</option>
        <option value="3">机械设计制造及其自动化</option>
        <option value="4">土木工程</option>
        <option value="5">电气工程及其自动化</option>
        <option value="6">会计学</option>
        <option value="7">中医</option>
        <option value="8">临床医学</option>
        <option value="9">自动化</option>
        <option value="10">工商管理</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">
      搜 索
    </button>
  </form>

</section>
