<ul class="nav nav-tabs nav-pills nav-tabs-material" role="tablist">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {%if query.type.indexOf('school') == 0%}active{%endif%}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      查 院 校
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item"  href="#school_eq" role="tab" data-toggle="tab" aria-controls="dropdown1" aria-expanded="true">等位分</a>

      <a class="dropdown-item"  href="#school_rank" role="tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="true">位次</a>

      <a class="dropdown-item"  href="#school_dif" role="tab" data-toggle="tab" aria-controls="dropdown3" aria-expanded="true">线差</a>

    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {%if query.type.indexOf('major') == 0 %}active{%endif%}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      查 专 业
    </a>
    <div class="dropdown-menu">

      <a class="dropdown-item"  href="#major_rank" role="tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="true">位次</a>

      <a class="dropdown-item"  href="#major_dif" role="tab" data-toggle="tab" aria-controls="dropdown3">线差</a>
    </div>
  </li>
</ul>


  <!-- Tab panes -->
  <div class="tab-content" onload="">
    <div class="tab-pane fade {%if query.type == 'school_dif' %}active show{%endif%}" id="school_dif" role="tabpanel">
      {% include '../component/school_dif_search.html' %}
    </div>
    <div class="tab-pane fade {%if query.type == 'school_rank' %}active show{%endif%}" id="school_rank" role="tabpanel">
      {% include '../component/school_rank_search.html' %}
    </div>
    <div class="tab-pane fade {%if query.type == 'school_eq' %}active show{%endif%}" id="school_eq" role="tabpanel">
      {% include '../component/school_eq_search.html' %}
    </div>
    <div class="tab-pane fade {%if query.type == 'major_dif' %}active show{%endif%}" id="major_dif" role="tabpanel">
      {% include '../component/major_dif_search.html' %}
    </div>
    <div class="tab-pane fade {%if query.type == 'major_rank' %}active show{%endif%}" id="major_rank" role="tabpanel">
      {% include '../component/major_rank_search.html' %}
    </div>
  </div>

  <script>
    "use strict";
    //获取当前href
    let href = window.location.href;

    //if 结果页面  else 首页, 判断以对side_search 进行不同布局
    if (href.indexOf('college') >= 0 ||  href.indexOf('major') >= 0) {
      //获得所有子节点（form item)
      let children = $('form').children();

      //去掉col-2属性
      children.each(function(index, ele) {
        if ($(this).hasClass('col-2')) {
          $(this).removeClass('col-2');
        }
      });

    }

  //设置选中项目
  if (`{{query}}`) {
    $('select[name=pos]').val(`{{query.pos}}` || 0); //生源地
    $('select[name=subject]').val(`{{query.category}}` || 0); //科目
    $('input[name=eq]').val(`{{query.eq}}`); //等位分
    $('select[name=range]').val(`{{query.range}}` || 0); //浮动区间
    $('select[name=batch]').val(`{{query.batch}}` || 0); //批次
    $('input[name=rank]').val(`{{query.rank}}`); //排名
    $('input[name=score]').val(`{{query.score}}`); //高考分数
    $('select[name=major]').val(`{{query.major}}` || 0); //专业

    //year
    $('select[name=year]').find($(`option[value={{query.year}}]`)).each(function(index, ele) {
      $(this).attr('selected', '');
    })

    //参考分数类型
    if (`{{query.scoreType}}`) {
      $('select[name=scoreType]').find($(`option[value={{query.scoreType}}]`)).each(function(index, ele) {
        $(this).attr('selected', '');
      })
    }

  }
  </script>
