
<ul class="nav nav-tabs nav-pills nav-tabs-material" role="tablist">

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {%if query.type=='school'%}active{%endif%}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      院 校
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item active"  href="#school_eq" role="tab" data-toggle="tab" aria-controls="dropdown1" aria-expanded="true">等位分</a>

      <a class="dropdown-item"  href="#school_rank" role="tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="true">排名</a>

      <a class="dropdown-item"  href="#school_dif" role="tab" data-toggle="tab" aria-controls="dropdown3" aria-expanded="true">线差</a>

    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle {%if query.type=='major'%}active{%endif%}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      专 业
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item"  href="#major_eq" role="tab" data-toggle="tab" aria-controls="dropdown1" aria-expanded="true">等位分</a>

      <a class="dropdown-item"  href="#major_rank" role="tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="true">排名</a>

      <a class="dropdown-item"  href="#major_dif" role="tab" data-toggle="tab" aria-controls="dropdown3">线差</a>
    </div>
  </li>
</ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade" id="school_dif" role="tabpanel">
      {% include '../component/school_dif_search.html' %}
    </div>
    <div class="tab-pane fade" id="school_rank" role="tabpanel">
      {% include '../component/school_rank_search.html' %}
    </div>
    <div class="tab-pane fade active show" id="school_eq" role="tabpanel">
      {% include '../component/school_eq_search.html' %}
    </div>
    <div class="tab-pane fade" id="major_dif" role="tabpanel">
      {% include '../component/major_dif_search.html' %}
    </div>
    <div class="tab-pane fade" id="major_rank" role="tabpanel">
      {% include '../component/major_rank_search.html' %}
    </div>
    <div class="tab-pane fade" id="major_eq" role="tabpanel">
      {% include '../component/major_eq_search.html' %}
    </div>
  </div>
